/ejercicios/ejercicio2/nbproject/private/
/ejercicios/ejercicio2/build/
/ejercicios/ejercicio3/nbproject/private/
/ejercicios/ejercicio3/build/
/ejercicios/ejercicio4/nbproject/private/
/ejercicios/ejercicio4/ejercicio4/nbproject/private/
/ejercicios/ejercicio4/ejercicio4/build/
/tareas/tarea4/nbproject/private/
/tareas/tarea4/build/